#Options +Indexes
#RemoveHandler .html
#RemoveType .html
#AddType text/html .html
#Satisfy any
#Order Allow,Deny
#Allow from all
#Deny from all
#AuthType Basic
#AuthName "Access to /logs"
#AuthUserFile /kunden/homepages/0/d396478511/htpasswd
#Require user u67225760
RewriteEngine On

RewriteCond %{REQUEST_URI} ^/login$
RewriteRule ^(.*)$ /blog/wp-login.php [R,L]

# this sends everyone else to index.php
RewriteCond %{REQUEST_URI} ^/index\.php/$
RewriteRule ^(.*)$ /index\.php [R,L]
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^(.*)$ /index\.php [R,L]
RewriteCond %{REQUEST_URI} ^/index\.php/site/index$
RewriteRule ^(.*)$ /index\.php [R,L]
RewriteCond %{REQUEST_URI} ^/index\.php/site/index/$
RewriteRule ^(.*)$ /index\.php [R,L]
RewriteCond %{REQUEST_URI} ^/index\.php/site/$
RewriteRule ^(.*)$ /index\.php [R,L]
RewriteCond %{REQUEST_URI} ^/index\.php/site$
RewriteRule ^(.*)$ /index\.php [R,L]
